/* This is the css file that defines all the overall styling for the whole website */

/*COLORS*/
/* If we define the main brand colors here, we can use them later, 
   just say "color: var(--orange)" */

:root {
    --orange: #E94F1D; /* This is the main accent orange*/
    --grey: #DEDAD5;  /* This is the background grey */
}

.orange { /* feel free to just add this class "orange" to any text you want to be orange) */
    color: var(--orange);
}

.grey { /* same goes for grey */
    color: var(--grey);
}

.white {
    color: white;
}


/* FONT & SIZES */
/* Predefined universal font style*/

@font-face { /*COMPACTA*/
    font-family: 'Compacta';
    font-style: roman;
    font-weight: 1000;
    src: url('assets-fonts/compacta-bt/CompactaBT.ttf');
}

/*NEUE HAAS NORMAL*/
@font-face {
    font-family: 'Neue Haas Grotesk';
    font-style: normal;
    font-weight: normal;
    src: url('assets-fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf');
}

/*NEUE HAAS BOLD*/
@font-face { 
    font-family: 'Neue Haas Grotesk';
    font-style: normal;
    font-weight: bold;
    src: url('assets-fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf');
}


h1 { /* biggest home text size */
    font-size: 20rem;
    font-family: Compacta;
}

h2 { /* use for page titles */
    font-size: 6rem;
    font-family: Compacta;
}

h3 { 
    font-size: 5rem;
    font-family: Compacta;
}

.noLineHeight { /*gets rid of the extra spacing above and below the text*/
    line-height: 0;
}

body {
    margin: 0; /* Gets rid of that annoying white border around the body */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Neue Haas Grotesk;
}


#preloader {
    background-color: black;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 100;
}

#preloader video {
    width: 200px;
}


/* BUTTONS */
.button {
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: var(--orange);
}


.button a {
    text-decoration: none;
    color: white;
    line-height: 0;
    font-weight: normal;
}

.button a:hover {
    color: black;
}



/*NAV*/
.nav{
    padding-top: 20px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    z-index: 3; /* keeps nav bar on top always */

    width: 80%;
    position: fixed;
    top: 0;
    margin: auto;
}

.navSection {
    display: flex;
    gap: 20px;
}

.logo{
    font-family: Compacta;
}

.navLabel{
    font-size: 16px;
    text-decoration: none;
    color: black; 
}

a{
    display: inline-block;
    position: relative;
}

/*Just some animation stuff*/
a:hover{
    color: var(--orange);
    cursor: pointer;
}

a.underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*FOOTER*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding-top: 200px;
    padding-bottom: 40px;

    color: white;
    background-color: black;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;
}

.footer a {
    color: white;
    text-decoration: none;
}

.email{

}

.email h3{
    margin: 0;
    padding: 0;
    font-size: 5.5vw;
}

.footertext{
    padding-top: 15px;
}

.footerRight{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.orange{
    color: var(--orange);
}


form{
    display: flex;
    flex-direction: column;
    
    gap: 3px;
    margin: 0;
    padding: 0;
}


input[type=text]{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: rgb(255, 255, 255);

    height: 30px;

    font-family: Neue Haas Grotesk;
    font-size: 1.25rem;
}

input[type=text]::placeholder{
    color: rgb(255, 255, 255);
    opacity: 60%;
}


/* MOBILE RESIZING */
@media screen and (max-width: 760px){
    /*FONT RESIZING*/
    h1 {
        font-size: 10rem;
    }

    h2 {
        font-size: 4.5rem;
    }

    h3{
        font-size: 3rem;
    }

    .email{
        margin-left: 10vw;
        padding-right: 20px;
    }

    .email h3{
        display: none;
    }

    .footer{
        padding-right: 20px;
    }

    .nav {
        gap: 10px;
    }
    
}