body {
    background-color: black;
}

.colorbtn{
    height: 25px;
    width: 75px;
    border-radius: 10px;
    background-color: #E94F1D;
    color: white;
    text-align: center;
    font-size: 8px;
    padding-top: 1%;
    cursor: pointer;
    transition: 0.3s;
    top: 94%;
    position: absolute;
    left: 94%;
}

.colorbtn:hover {
    background-color: white;
    color: #E94F1D;
}

.navLabel {
    color: #decad6;
}


.screenSizeSection { /* Defines a section as tall and wide as the screen viewport. Should be used for the home "header" section only */
    width: 100%;
    height: 100vh;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 120px;
    padding-right: 120px;
}

#nanogallery2 {
}

/* Hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #dedad6
}

.hero img {
    width: 50%; 
}

h1 {
    line-height: 100%;
}

.noLineHeight {
    line-height: 0;
    color:#dedad6;
}

/* Black image section */
.image {
    overflow: hidden;
    background-color: black;
    position: relative;
    text-align: right;
}

.image img {
    width: 100%;
    opacity: 30%;
}

.text{
    height: 100vh;
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 3;
}

.text h3 {
    color: white;
}

/* Features section */
/* .features {
    background-color: var(--orange);

    color:white;

    display: flex;
    flex-direction: column;
}

.feature {
    display: flex;
    gap: 120px;
}

.feature h2{
    line-height: 0;
}

.featureImg {
    width: 200px;
    height: 100%;
} */


.fullDiagram{
    margin: auto;
    text-align: center;
    background-color: black;
    color: var(--grey);
    border: solid;
    border-width: 20px;
    border-color: #E94F1D;
}

.bagImg img{
    width: 50%;
}


.topArrows{
    height: 7vw;
}


#leftArrow{
    position: absolute;
    width: 21vw;
    left: 33.5vw;
    opacity:0.0;
}

#rightArrow{
    position: absolute;
    width: 26vw;
    left: 35.25vw;
    opacity:0.0;
}


#zipperArrow{
    position: absolute;
    width: 22vw;
    left: 74vw;
    opacity:0.0;
}

#bottomArrow{
    position: absolute;
    width: 28vw;
    left: 13vw;
    opacity:0.0;
}


.space{
    height: 3vw;
}

.changingText{
    height: 14vw;
    line-height: 14vw;
    font-size: 7rem;
    font-family: Compacta;
    padding-bottom: 2vw;

}

/* .bagImg {
    width: 100vw; 
    height: 76vw;
    display: flex;
    justify-content: center;
}





/*Socials section*/
.social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feed{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feed img{
    width: 23%;
}



/* RESIZING */

@media screen and (max-width: 1170px){
    .noLineHeight {
        line-height: 100%;
    }
}

/* TABLET */
@media screen and (max-width: 980px){
    .section {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 60px;
        padding-right: 60px;
    }
    
    /* BAG DIAGRAM */
    .fullDiagram{
        height: 80vh;
    }
}

/* MOBILE */
@media screen and (max-width: 760px){
    .section {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }

    /* IMAGE */
    .image img {
        height: 100vh;
        object-fit: cover;
    }

    /* FEATURES */
    .features { 
        gap: 80px;
    }

    .feature{
        flex-direction: column;
        gap: 0px;
    }

    /* INSTA FEED */

    .feed img{
        width: 47%;
    }

    /* BAG DIAGRAM */
    .fullDiagram{
        height: 100vh;
    }
}


