body {
    background-color: var(--grey);
}

.screenSizeSection { /* Defines a section as tall and wide as the screen viewport. Should be used for the home "header" section only */
    width: 100%;
    height: 100vh;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 120px;
    padding-right: 120px;
}

#nanogallery2 {
}

/* Hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero img {
    width: 50%; 
}

h1 {
    line-height: 100%;
}

.noLineHeight {
    line-height: 0;
}

/* Black image section */
.image {
    overflow: hidden;
    background-color: black;
    position: relative;
    text-align: right;
}

.image img {
    width: 100%;
    opacity: 30%;
}

.text{
    height: 100vh;
    width: 90%;
    
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 3;
}

.text h3 {
    color: white;
}

/* Features section */
/* .features {
    background-color: var(--orange);

    color:white;

    display: flex;
    flex-direction: column;
}

.feature {
    display: flex;
    gap: 120px;
}

.feature h2{
    line-height: 0;
}

.featureImg {
    width: 200px;
    height: 100%;
} */

/* diagram */
.topspace{
    padding-bottom: 8vw;
    background-color: var(--orange);
}
.diagram{
    position: relative;
    margin: auto;
    background-image: url("assets/bag.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 54vw;
}

.topImages{
    position: relative;
    margin: auto;
}

.highlight{
    position:absolute;
}
.highlight:hover{
    -webkit-filter: 
    drop-shadow(2px 2px 0 white)
    drop-shadow(-2px 2px 0 white)
    drop-shadow(2px -2px 0 white)
    drop-shadow(-2px -2px 0 white);

    filter: 
        drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
}

#leftBuck{
    width: 13.75vw;
    top: 6.25vw;
    left: 14.25vw;
}
#rightBuck{
    width: 15.5vw;
    top: 7.75vw;
    left: 34vw;
}
#zipper{
    width: 60vw;
    top: 26vw;
    right: 0vw;
}
#text{
    font-size: 7vw;
    margin: auto;
    padding-bottom: 15vw;
    font-family: Compacta;
    text-align: center;
}

.fullDiagram{
    margin: auto;
    text-align: center;
    background-color: var(--orange);
    color: var(--grey);
    width: 100vw;
}




/*Socials section*/
.social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feed{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feed img{
    width: 23%;
}



/* TABLET/MOBILE RESIZING */
@media screen and (max-width: 760px){
    .section {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }

    /* IMAGE */
    .image img {
        height: 100vh;
        object-fit: cover;
    }

    /* FEATURES */
    .features { 
        gap: 80px;
    }

    .feature{
        flex-direction: column;
        gap: 0px;
    }

    /* INSTA FEED */

    .feed img{
        width: 47%;
    }

    .noLineHeight {
        line-height: 100%;
    }
}


