body {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.body {
    width: 80%;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#chartDiv {
    padding: 40px;
    border-radius: 20px;
}

a {
    color: var(--orange)
}

.section {
    border-radius: 60px;
    border: 1px solid grey;
    padding: 40px;
}

#nanogallery2{
    width: 100%;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
}

#research{
    width: 700px;
}

.heading:hover {
    color: var(--orange);
}

.ask {
    font-size: 5rem;
    font-weight: bold;
}

.ask:hover {
    color: var(--orange);
}

/* TABLET/MOBILE RESIZING */
@media screen and (max-width: 900px){
    #research {
        width: 600px;
    }
}

@media screen and (max-width: 760px){
    #research {
        width: 400px;
    }
}

