body{
    background-color: #DEDAD6;
}
h5{
    margin-bottom: 0px;
}
#outercontainer{
    width: 100%;
}

#bigpicture {
    background-image: url("team.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 6%;
    height: 500px;
    text-align: center;
}

#bigpicture h2 {
    line-height: 500px; /* If you make the line-height of the text the same 
                            height as the containing div, it centers the text 
                            vertically :) -elissa */
    color: white;
}

#text {
    text-align: center;
    padding: 5%;    
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    margin-bottom: -4%;
}

#theteambox {
    padding-left: 50px;
    margin-top: -5%;
}

.teamflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
    margin-top: -5%;
    margin-bottom: 6%;
}

.profilebox {
        width: 175px;
        height: 225px;
        text-align: center; 
}

.profile {
        width: 175px;
        height: 175px;
}

#big{
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #151515;
}

#animationIntro{
   font-weight: 700;
   font-size: 80px;
   transform: translateX(-150px);
}
#animationIntro p{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
} 
#animationIntro p .animationIntro{
    position: absolute;
    display: flex;
    opacity: 0;
}

#animationIntro p .animationIntro .letter{
    transform-origin: center center 25px;
}
#animationIntro p .animationIntro .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
#animationIntro p .animationIntro .letter.in{
    transition: 0.38s ease;
}
#animationIntro p .animationIntro .letter.behind{
    transform: rotateX(-90deg);
}
.animationIntro {
    color: var(--orange);
}
#chatBox{
    color: black;
    font-size: larger;
    background-color: #151515;
    height: 90vh;
    padding-top: 100px;
}
#chatBoxFlex{
    /* display: flex; */
    flex-direction: column-reverse;
    flex-direction: column;
    width: 700px;
    box-shadow: 10px 10px var(--orange);
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    height: 0px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: blue;
    display: none;
}
.rl{
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    background-color: aliceblue;
    display: none;
    clear: both;
    margin-top: 8px;
}
.right{
    text-align: right;
    float: right;
    display: none;

}
.left{
    text-align: left;
    float: left;
    display: none;
}
@media screen and (max-width: 760px){

    #bigpicture {
        background-image: url("team.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 15%;
        height: 300px;
        text-align: center;
    }

    #bigpicture h2 {
        line-height: 300px; /* If you make the line-height of the text the same 
                                height as the containing div, it centers the text 
                                vertically :) -elissa */
        color: white;
    }

    #text {
        text-align: center;
        padding: 5%;    
        padding-left: 15%;
        padding-right: 15%;
        text-align: left;


    }

    #theteambox {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .teamflex {
        display: flex;
        align-items: center;
        
        display: grid;
        margin-top: -5%;
        margin-bottom: 6%;
    }
    
        .profilebox {
            width: 175px;
            height: 240px;
            margin: 3%;
            margin-bottom: 5%;
            text-align: center;
 
        }
    
        .profile {
            width: 175px;
            height: 175px;
        }
    
}
