body{
    background-color: #DEDAD6;
}




h5{
    margin-bottom: 0px;
}
#outercontainer{
    width: 100%;
}

#bigpicture {
    background-image: url("team.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 6%;
    height: 500px;
    text-align: center;
}

#bigpicture h2 {
    line-height: 500px; /* If you make the line-height of the text the same 
                            height as the containing div, it centers the text 
                            vertically :) -elissa */
    color: white;
}

#text {
    text-align: center;
    padding: 5%;    
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    margin-bottom: -4%;
}

#theteambox {
    padding-left: 50px;
    margin-top: -5%;
}

.teamflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: -5%;
    margin-bottom: 6%;
}

.profilebox {
        width: 175px;
        height: 370px;
        text-align: center; 
}

.profile {
        width: 175px;
        height: 175px;
}

.leftalign {
    text-align: left;
}

#big{
    padding-top: 200px;
    padding-bottom: 200px;
    position: absolute;
    top: 100px;
    opacity: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#animationIntro{
   font-weight: 700;
   font-size: 80px;
   transform: translateX(-170px);
}

#animationIntro p{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
} 
#animationIntro p .animationIntro{
    position: absolute;
    display: flex;
    opacity: 0;
}

#animationIntro p .animationIntro .letter{
    transform-origin: center center 25px;
}
#animationIntro p .animationIntro .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
#animationIntro p .animationIntro .letter.in{
    transition: 0.38s ease;
}
#animationIntro p .animationIntro .letter.behind{
    transform: rotateX(-90deg);
}
.animationIntro {
    color: var(--orange);
}
#chatBox{
    color: black;
    font-size: larger;
    
    padding-top: 100px;
}

#chatBoxFlex{
    /* display: flex; */
    flex-direction: column-reverse;
    flex-direction: column;
    width: 700px;
    box-shadow: 10px 10px var(--orange);
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    height: 0px;
    padding-left: 60px;
    padding-right: 60px; 

}

.rl{
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    background-color: aliceblue;
    display: none;
    clear: both;
    margin-top: 8px;
}

.right{
    text-align: right;
    float: right;
    display: none;
}

.left{
    text-align: left;
    float: left;
    display: none;
}

/* timeline */
.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(2px);
    transform: translateX(-100%);
}
.hidden2{
    opacity: 0;
    /* transition: all 1s; */
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}
.TimelineContainer {
    width: 60%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }
 
 .TimelineContainer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }
 
 .timelineBlock {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timelineBlockRight {
    float: right;
 }
 
 .timelineBlockLeft {
    float: left;
    direction: rtl
 }
 
 .marker {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--grey);
    background: var(--orange);
    margin-top: 10px;
    z-index: 9999
 }
 
 .timelineContent {
    width: 95%;
    padding: 0 15px;
    min-height: 40vh;
 }
 
 .timelineContent h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
 }
 
 .timelineContent span {
    font-size: 15px;
    color: #a4a4a4;
 }
 
 .timelineContent p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
 }
 .timelinePhoto{
    width: 200px;
    height: 200px;
 }

 /*ANIMATION DIVS*/
 #img1 {
    opacity: 0;
    
    position: absolute;
    top: 140px;
    left: 240px;
 }

 #text1{
    opacity: 0;
    
    position: absolute;
    top: 180px;
    left: 640px;
 }

 #img2 {
    opacity: 0;
    
    position: absolute;
    top: 140px;
    left: 240px;
 }

 #img3 { /*Frisbee*/
    opacity: 0;
    
    position: absolute;
    top: 220px;
    left: 360px;
 }

 #text2{
    opacity: 0;
    
    position: absolute;
    top: 180px;
    left: 640px;
 }

 #text3{
    opacity: 0;
    
    position: absolute;
    top: 280px;
    left: 640px;
 }

 #text4{
    opacity: 0;
    
    position: absolute;
    top: 180px;
    left: 640px;
 }

 #text5{
    opacity: 0;
    
    position: absolute;
    top: 280px;
    left: 640px;
 }

 #text6{
    opacity: 0;
    color: var(--orange);
    
    position: absolute;
    top: 520px;
    left: 640px;
 }


 .image-container {
    display: flex;
    justify-content: center; /* centers images horizontally */
    align-items: center; /* centers images vertically */
    margin-top: 0;
    margin-bottom: 2vw;

  }
  
  .image-container img {
    margin: 0 10px; /* adds horizontal spacing between images */
    width: 18vw;
  }

  #description{
    text-align: center;
    margin-bottom: 10vw;
    font-size: 2vw;

  }



@media screen and (max-width: 760px){

    #bigpicture {
        background-image: url("team.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 15%;
        height: 300px;
        text-align: center;
    }

    #bigpicture h2 {
        line-height: 300px; /* If you make the line-height of the text the same 
                                height as the containing div, it centers the text 
                                vertically :) -elissa */
        color: white;
    }

    #text {
        text-align: center;
        padding: 5%;    
        padding-left: 15%;
        padding-right: 15%;
        text-align: left;


    }

    #theteambox {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .teamflex {
        display: flex;
        align-items: center;
        display: grid;
        margin-top: -5%;
        margin-bottom: 6%;
    }
    
        .profilebox {
            width: 175px;
            height: 360px;
            margin: 3%;
            margin-bottom: 5%;
            text-align: center;
 
        }
    
        .profile {
            width: 175px;
            height: 175px;
        }
    
}
